USE [DeskBookDev]
GO
/****** Object:  Schema [Booking]    Script Date: 6/7/2023 4:01:58 PM ******/
CREATE SCHEMA [Booking]
GO
/****** Object:  Schema [Ref]    Script Date: 6/7/2023 4:01:58 PM ******/
CREATE SCHEMA [Ref]
GO
/****** Object:  Table [Booking].[SeatRequest]    Script Date: 6/7/2023 4:01:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Booking].[SeatRequest](
	[SeatRequestId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [nvarchar](50) NOT NULL,
	[SeatId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[BookingDate] [date] NOT NULL,
	[Reason] [varchar](200) NOT NULL,
	[RequestStatus] [tinyint] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_SeatRequest_SeatRequestId] PRIMARY KEY CLUSTERED 
(
	[SeatRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 6/7/2023 4:01:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [nvarchar](50) NOT NULL,
	[EmailId] [varchar](80) NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[PhoneNumber] [varchar](15) NULL,
	[ModeOfWorkId] [tinyint] NULL,
	[ProfilePictureFileName] [varchar](60) NULL,
	[ProfilePictureFilePath] [varchar](max) NULL,
	[DesignationId] [tinyint] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedBy] [nvarchar](50) NULL,
 CONSTRAINT [PK_Employee_EmployeeId] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeWorkingDays]    Script Date: 6/7/2023 4:01:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeWorkingDays](
	[EmployeeWorkingDayId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [nvarchar](50) NOT NULL,
	[WorkingDayId] [tinyint] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedBy] [nvarchar](50) NULL,
 CONSTRAINT [PK_EmployeeWorkingDays_EmployeeWorkingDayId] PRIMARY KEY CLUSTERED 
(
	[EmployeeWorkingDayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatConfiguration]    Script Date: 6/7/2023 4:01:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatConfiguration](
	[SeatConfigurationId] [int] IDENTITY(1,1) NOT NULL,
	[SeatId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[EmployeeId] [nvarchar](50) NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedBy] [nvarchar](50) NULL,
 CONSTRAINT [PK_SeatConfiguration_SeatConfigurationId] PRIMARY KEY CLUSTERED 
(
	[SeatConfigurationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ref].[City]    Script Date: 6/7/2023 4:01:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ref].[City](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](10) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_City_CityId] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ref].[Column]    Script Date: 6/7/2023 4:01:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ref].[Column](
	[ColumnId] [tinyint] IDENTITY(1,1) NOT NULL,
	[ColumnName] [varchar](5) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[FloorId] [tinyint] NOT NULL,
 CONSTRAINT [PK_Column_ColumnId] PRIMARY KEY CLUSTERED 
(
	[ColumnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ref].[Designation]    Script Date: 6/7/2023 4:01:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ref].[Designation](
	[DesignationId] [tinyint] IDENTITY(1,1) NOT NULL,
	[DesignationName] [varchar](10) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Designation_DesignationId] PRIMARY KEY CLUSTERED 
(
	[DesignationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ref].[Floor]    Script Date: 6/7/2023 4:01:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ref].[Floor](
	[FloorId] [tinyint] IDENTITY(1,1) NOT NULL,
	[FloorName] [varchar](15) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[CityId] [int] NOT NULL,
 CONSTRAINT [PK_Floor_FloorId] PRIMARY KEY CLUSTERED 
(
	[FloorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ref].[ModeOfWork]    Script Date: 6/7/2023 4:01:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ref].[ModeOfWork](
	[ModeOfWorkId] [tinyint] IDENTITY(1,1) NOT NULL,
	[ModeOfWork] [varchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ModeOfWork_ModeOfWorkId] PRIMARY KEY CLUSTERED 
(
	[ModeOfWorkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ref].[Seat]    Script Date: 6/7/2023 4:01:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ref].[Seat](
	[SeatId] [int] IDENTITY(1,1) NOT NULL,
	[SeatNumber] [tinyint] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[ColumnId] [tinyint] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
 CONSTRAINT [PK_Seat_SeatId] PRIMARY KEY CLUSTERED 
(
	[SeatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ref].[WorkingDay]    Script Date: 6/7/2023 4:01:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ref].[WorkingDay](
	[WorkingDayId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Day] [varchar](10) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_WorkingDay_WorkingDayId] PRIMARY KEY CLUSTERED 
(
	[WorkingDayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Booking].[SeatRequest] ON 

INSERT [Booking].[SeatRequest] ([SeatRequestId], [EmployeeId], [SeatId], [CreatedDate], [BookingDate], [Reason], [RequestStatus], [ModifiedDate], [ModifiedBy], [DeletedDate]) VALUES (1, N'8a71184d-39cf-4815-84d7-d9c79c161abb', 2, CAST(N'2023-06-06T17:45:11.840' AS DateTime), CAST(N'2023-06-08' AS Date), N'i want to book seat no:2', 1, NULL, NULL, NULL)
INSERT [Booking].[SeatRequest] ([SeatRequestId], [EmployeeId], [SeatId], [CreatedDate], [BookingDate], [Reason], [RequestStatus], [ModifiedDate], [ModifiedBy], [DeletedDate]) VALUES (2, N'8a71184d-39cf-4815-84d7-d9c79c161abb', 1, CAST(N'2023-06-06T17:46:54.797' AS DateTime), CAST(N'2023-06-08' AS Date), N'i want to book seat no:2', 1, NULL, NULL, NULL)
INSERT [Booking].[SeatRequest] ([SeatRequestId], [EmployeeId], [SeatId], [CreatedDate], [BookingDate], [Reason], [RequestStatus], [ModifiedDate], [ModifiedBy], [DeletedDate]) VALUES (3, N'8a71184d-39cf-4815-84d7-d9c79c161abb', 3, CAST(N'2023-06-06T17:47:04.513' AS DateTime), CAST(N'2023-06-08' AS Date), N'i want to book seat no:2', 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [Booking].[SeatRequest] OFF
GO
INSERT [dbo].[Employee] ([EmployeeId], [EmailId], [FirstName], [LastName], [PhoneNumber], [ModeOfWorkId], [ProfilePictureFileName], [ProfilePictureFilePath], [DesignationId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive], [DeletedDate], [DeletedBy]) VALUES (N'00b06a0c-1868-4116-bb1e-39102d13ab72', N'vipeqwr@gmail.mod.com', N'Tayw', N'awe', NULL, NULL, NULL, NULL, NULL, CAST(N'2023-05-17T18:02:21.513' AS DateTime), N'00b06a0c-1868-4116-bb1e-39102d13ab72', NULL, NULL, 1, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[EmployeeWorkingDays] ON 

INSERT [dbo].[EmployeeWorkingDays] ([EmployeeWorkingDayId], [EmployeeId], [WorkingDayId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy]) VALUES (1, N'db001219-0d36-4804-ba00-459b58347beb', 1, CAST(N'2023-05-25T17:58:19.460' AS DateTime), N'db001219-0d36-4804-ba00-459b58347beb', CAST(N'2023-05-25T17:58:19.457' AS DateTime), N'db001219-0d36-4804-ba00-459b58347beb', CAST(N'2023-05-31T15:49:51.247' AS DateTime), N'db001219-0d36-4804-ba00-459b58347beb')
INSERT [dbo].[EmployeeWorkingDays] ([EmployeeWorkingDayId], [EmployeeId], [WorkingDayId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy]) VALUES (2, N'db001219-0d36-4804-ba00-459b58347beb', 2, CAST(N'2023-05-25T17:58:19.473' AS DateTime), N'db001219-0d36-4804-ba00-459b58347beb', CAST(N'2023-05-25T17:58:19.473' AS DateTime), N'db001219-0d36-4804-ba00-459b58347beb', CAST(N'2023-05-31T15:49:51.250' AS DateTime), N'db001219-0d36-4804-ba00-459b58347beb')
INSERT [dbo].[EmployeeWorkingDays] ([EmployeeWorkingDayId], [EmployeeId], [WorkingDayId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy]) VALUES (3, N'db001219-0d36-4804-ba00-459b58347beb', 3, CAST(N'2023-05-25T17:58:19.480' AS DateTime), N'db001219-0d36-4804-ba00-459b58347beb', CAST(N'2023-05-25T17:58:19.480' AS DateTime), N'db001219-0d36-4804-ba00-459b58347beb', CAST(N'2023-05-31T15:49:51.250' AS DateTime), N'db001219-0d36-4804-ba00-459b58347beb')
SET IDENTITY_INSERT [dbo].[EmployeeWorkingDays] OFF
GO
SET IDENTITY_INSERT [dbo].[SeatConfiguration] ON 

INSERT [dbo].[SeatConfiguration] ([SeatConfigurationId], [SeatId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [EmployeeId], [DeletedDate], [DeletedBy]) VALUES (1, 1, CAST(N'2023-05-25T17:52:21.237' AS DateTime), N'db001219-0d36-4804-ba00-459b58347beb', CAST(N'2023-05-31T15:49:51.147' AS DateTime), N'db001219-0d36-4804-ba00-459b58347beb', N'db001219-0d36-4804-ba00-459b58347beb', NULL, NULL)
INSERT [dbo].[SeatConfiguration] ([SeatConfigurationId], [SeatId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [EmployeeId], [DeletedDate], [DeletedBy]) VALUES (2, 2, CAST(N'2023-06-05T11:27:13.900' AS DateTime), N'aa55dec5-82e9-473f-aae8-2799ff9f5e91', CAST(N'2023-06-05T11:27:26.053' AS DateTime), N'aa55dec5-82e9-473f-aae8-2799ff9f5e91', N'aa55dec5-82e9-473f-aae8-2799ff9f5e91', NULL, NULL)
SET IDENTITY_INSERT [dbo].[SeatConfiguration] OFF
GO
SET IDENTITY_INSERT [Ref].[City] ON 

INSERT [Ref].[City] ([CityId], [CityName], [CreatedDate], [CreatedBy]) VALUES (1, N'Surat', CAST(N'2023-05-04T13:04:38.553' AS DateTime), N'00763866-dc7d-429d-91f3-c8bb5c10891a')
INSERT [Ref].[City] ([CityId], [CityName], [CreatedDate], [CreatedBy]) VALUES (2, N'Valsad', CAST(N'2023-05-04T13:04:38.553' AS DateTime), N'00763866-dc7d-429d-91f3-c8bb5c10891a')
SET IDENTITY_INSERT [Ref].[City] OFF
GO
SET IDENTITY_INSERT [Ref].[Column] ON 

INSERT [Ref].[Column] ([ColumnId], [ColumnName], [CreatedDate], [CreatedBy], [FloorId]) VALUES (1, N'A', CAST(N'2023-05-23T13:28:08.853' AS DateTime), N'00763866-dc7d-429d-91f3-c8bb5c10891a', 1)
INSERT [Ref].[Column] ([ColumnId], [ColumnName], [CreatedDate], [CreatedBy], [FloorId]) VALUES (2, N'B', CAST(N'2023-05-23T13:28:08.853' AS DateTime), N'00763866-dc7d-429d-91f3-c8bb5c10891a', 1)
INSERT [Ref].[Column] ([ColumnId], [ColumnName], [CreatedDate], [CreatedBy], [FloorId]) VALUES (3, N'C', CAST(N'2023-05-23T13:28:08.853' AS DateTime), N'00763866-dc7d-429d-91f3-c8bb5c10891a', 1)
SET IDENTITY_INSERT [Ref].[Column] OFF
GO
SET IDENTITY_INSERT [Ref].[Designation] ON 

INSERT [Ref].[Designation] ([DesignationId], [DesignationName], [CreatedDate], [CreatedBy]) VALUES (1, N'BA', CAST(N'2023-05-04T13:02:46.973' AS DateTime), N'00763866-dc7d-429d-91f3-c8bb5c10891a')
INSERT [Ref].[Designation] ([DesignationId], [DesignationName], [CreatedDate], [CreatedBy]) VALUES (2, N'PM', CAST(N'2023-05-04T13:02:46.973' AS DateTime), N'00763866-dc7d-429d-91f3-c8bb5c10891a')
INSERT [Ref].[Designation] ([DesignationId], [DesignationName], [CreatedDate], [CreatedBy]) VALUES (3, N'INFRA', CAST(N'2023-05-04T13:02:46.973' AS DateTime), N'00763866-dc7d-429d-91f3-c8bb5c10891a')
SET IDENTITY_INSERT [Ref].[Designation] OFF
GO
SET IDENTITY_INSERT [Ref].[Floor] ON 

INSERT [Ref].[Floor] ([FloorId], [FloorName], [CreatedDate], [CreatedBy], [CityId]) VALUES (1, N'1st Floor', CAST(N'2023-05-23T13:24:16.330' AS DateTime), N'00763866-dc7d-429d-91f3-c8bb5c10891a', 1)
INSERT [Ref].[Floor] ([FloorId], [FloorName], [CreatedDate], [CreatedBy], [CityId]) VALUES (2, N'2nd Floor', CAST(N'2023-05-23T13:24:16.330' AS DateTime), N'00763866-dc7d-429d-91f3-c8bb5c10891a', 1)
INSERT [Ref].[Floor] ([FloorId], [FloorName], [CreatedDate], [CreatedBy], [CityId]) VALUES (3, N'3rd Floor', CAST(N'2023-05-23T13:24:16.330' AS DateTime), N'00763866-dc7d-429d-91f3-c8bb5c10891a', 1)
SET IDENTITY_INSERT [Ref].[Floor] OFF
GO
SET IDENTITY_INSERT [Ref].[ModeOfWork] ON 

INSERT [Ref].[ModeOfWork] ([ModeOfWorkId], [ModeOfWork], [CreatedDate], [CreatedBy]) VALUES (1, N'Hybrid', CAST(N'2023-05-04T13:16:03.780' AS DateTime), N'00763866-dc7d-429d-91f3-c8bb5c10891a')
INSERT [Ref].[ModeOfWork] ([ModeOfWorkId], [ModeOfWork], [CreatedDate], [CreatedBy]) VALUES (2, N'Work From Home', CAST(N'2023-05-04T13:16:03.780' AS DateTime), N'00763866-dc7d-429d-91f3-c8bb5c10891a')
INSERT [Ref].[ModeOfWork] ([ModeOfWorkId], [ModeOfWork], [CreatedDate], [CreatedBy]) VALUES (3, N'Regular', CAST(N'2023-05-04T13:16:03.780' AS DateTime), N'00763866-dc7d-429d-91f3-c8bb5c10891a')
SET IDENTITY_INSERT [Ref].[ModeOfWork] OFF
GO
SET IDENTITY_INSERT [Ref].[Seat] ON 

INSERT [Ref].[Seat] ([SeatId], [SeatNumber], [CreatedDate], [CreatedBy], [ColumnId], [IsAvailable], [ModifiedDate], [ModifiedBy]) VALUES (1, 1, CAST(N'2023-05-23T13:32:58.593' AS DateTime), N'00763866-dc7d-429d-91f3-c8bb5c10891a', 1, 1, NULL, NULL)
INSERT [Ref].[Seat] ([SeatId], [SeatNumber], [CreatedDate], [CreatedBy], [ColumnId], [IsAvailable], [ModifiedDate], [ModifiedBy]) VALUES (2, 2, CAST(N'2023-05-23T13:32:58.593' AS DateTime), N'00763866-dc7d-429d-91f3-c8bb5c10891a', 1, 1, NULL, NULL)
INSERT [Ref].[Seat] ([SeatId], [SeatNumber], [CreatedDate], [CreatedBy], [ColumnId], [IsAvailable], [ModifiedDate], [ModifiedBy]) VALUES (3, 3, CAST(N'2023-05-23T13:32:58.593' AS DateTime), N'00763866-dc7d-429d-91f3-c8bb5c10891a', 1, 1, NULL, NULL)
GO
SET IDENTITY_INSERT [Ref].[Seat] OFF
GO
SET IDENTITY_INSERT [Ref].[WorkingDay] ON 

INSERT [Ref].[WorkingDay] ([WorkingDayId], [Day], [CreatedDate], [CreatedBy]) VALUES (1, N'Monday', CAST(N'2023-05-04T13:20:04.947' AS DateTime), N'00763866-dc7d-429d-91f3-c8bb5c10891a')
INSERT [Ref].[WorkingDay] ([WorkingDayId], [Day], [CreatedDate], [CreatedBy]) VALUES (2, N'Tuesday', CAST(N'2023-05-04T13:20:04.947' AS DateTime), N'00763866-dc7d-429d-91f3-c8bb5c10891a')
INSERT [Ref].[WorkingDay] ([WorkingDayId], [Day], [CreatedDate], [CreatedBy]) VALUES (3, N'Wednesday', CAST(N'2023-05-04T13:20:04.947' AS DateTime), N'00763866-dc7d-429d-91f3-c8bb5c10891a')
SET IDENTITY_INSERT [Ref].[WorkingDay] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Employee_EmailId]    Script Date: 6/7/2023 4:01:59 PM ******/
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [UK_Employee_EmailId] UNIQUE NONCLUSTERED 
(
	[EmailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Booking].[SeatRequest] ADD  CONSTRAINT [DF_SeatRequest_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [DF_Employee_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [DF_Employee_IsActive]  DEFAULT ('1') FOR [IsActive]
GO
ALTER TABLE [dbo].[EmployeeWorkingDays] ADD  CONSTRAINT [DF_EmployeeWorkingDays_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SeatConfiguration] ADD  CONSTRAINT [DF_SeatConfiguration_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [Ref].[City] ADD  CONSTRAINT [DF_City_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [Ref].[Column] ADD  CONSTRAINT [DF_Column_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [Ref].[Designation] ADD  CONSTRAINT [DF_Designation_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [Ref].[Floor] ADD  CONSTRAINT [DF_Floor_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [Ref].[ModeOfWork] ADD  CONSTRAINT [DF_ModeOfWork_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [Ref].[Seat] ADD  CONSTRAINT [DF_Seat_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [Ref].[Seat] ADD  CONSTRAINT [DF_Seat_IsAvailable]  DEFAULT ('1') FOR [IsAvailable]
GO
ALTER TABLE [Ref].[WorkingDay] ADD  CONSTRAINT [DF_WorkingDay_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [Booking].[SeatRequest]  WITH CHECK ADD  CONSTRAINT [FK_SeatRequest_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [Booking].[SeatRequest] CHECK CONSTRAINT [FK_SeatRequest_EmployeeId]
GO
ALTER TABLE [Booking].[SeatRequest]  WITH CHECK ADD  CONSTRAINT [FK_SeatRequest_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [Booking].[SeatRequest] CHECK CONSTRAINT [FK_SeatRequest_ModifiedBy]
GO
ALTER TABLE [Booking].[SeatRequest]  WITH CHECK ADD  CONSTRAINT [FK_SeatRequest_SeatId] FOREIGN KEY([SeatId])
REFERENCES [Ref].[Seat] ([SeatId])
GO
ALTER TABLE [Booking].[SeatRequest] CHECK CONSTRAINT [FK_SeatRequest_SeatId]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_CreatedBy]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_DeletedBy] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_DeletedBy]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Designation] FOREIGN KEY([DesignationId])
REFERENCES [Ref].[Designation] ([DesignationId])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Designation]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_ModeOfWork] FOREIGN KEY([ModeOfWorkId])
REFERENCES [Ref].[ModeOfWork] ([ModeOfWorkId])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_ModeOfWork]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_ModifiedBy]
GO
ALTER TABLE [dbo].[EmployeeWorkingDays]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeWorkingDays_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[EmployeeWorkingDays] CHECK CONSTRAINT [FK_EmployeeWorkingDays_CreatedBy]
GO
ALTER TABLE [dbo].[EmployeeWorkingDays]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeWorkingDays_DeletedBy] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[EmployeeWorkingDays] CHECK CONSTRAINT [FK_EmployeeWorkingDays_DeletedBy]
GO
ALTER TABLE [dbo].[EmployeeWorkingDays]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeWorkingDays_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[EmployeeWorkingDays] CHECK CONSTRAINT [FK_EmployeeWorkingDays_Employee]
GO
ALTER TABLE [dbo].[EmployeeWorkingDays]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeWorkingDays_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[EmployeeWorkingDays] CHECK CONSTRAINT [FK_EmployeeWorkingDays_ModifiedBy]
GO
ALTER TABLE [dbo].[EmployeeWorkingDays]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeWorkingDays_WorkingDay] FOREIGN KEY([WorkingDayId])
REFERENCES [Ref].[WorkingDay] ([WorkingDayId])
GO
ALTER TABLE [dbo].[EmployeeWorkingDays] CHECK CONSTRAINT [FK_EmployeeWorkingDays_WorkingDay]
GO
ALTER TABLE [dbo].[SeatConfiguration]  WITH CHECK ADD  CONSTRAINT [FK_ SeatConfiguration_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[SeatConfiguration] CHECK CONSTRAINT [FK_ SeatConfiguration_Employee]
GO
ALTER TABLE [dbo].[SeatConfiguration]  WITH CHECK ADD  CONSTRAINT [FK_SeatConfiguration_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[SeatConfiguration] CHECK CONSTRAINT [FK_SeatConfiguration_CreatedBy]
GO
ALTER TABLE [dbo].[SeatConfiguration]  WITH CHECK ADD  CONSTRAINT [FK_SeatConfiguration_DeletedBy] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[SeatConfiguration] CHECK CONSTRAINT [FK_SeatConfiguration_DeletedBy]
GO
ALTER TABLE [dbo].[SeatConfiguration]  WITH CHECK ADD  CONSTRAINT [FK_SeatConfiguration_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[SeatConfiguration] CHECK CONSTRAINT [FK_SeatConfiguration_ModifiedBy]
GO
ALTER TABLE [dbo].[SeatConfiguration]  WITH CHECK ADD  CONSTRAINT [FK_SeatConfiguration_Seat] FOREIGN KEY([SeatId])
REFERENCES [Ref].[Seat] ([SeatId])
GO
ALTER TABLE [dbo].[SeatConfiguration] CHECK CONSTRAINT [FK_SeatConfiguration_Seat]
GO
ALTER TABLE [Ref].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [Ref].[City] CHECK CONSTRAINT [FK_City_CreatedBy]
GO
ALTER TABLE [Ref].[Column]  WITH CHECK ADD  CONSTRAINT [FK_Column_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [Ref].[Column] CHECK CONSTRAINT [FK_Column_CreatedBy]
GO
ALTER TABLE [Ref].[Column]  WITH CHECK ADD  CONSTRAINT [FK_Column_Floor] FOREIGN KEY([FloorId])
REFERENCES [Ref].[Floor] ([FloorId])
GO
ALTER TABLE [Ref].[Column] CHECK CONSTRAINT [FK_Column_Floor]
GO
ALTER TABLE [Ref].[Designation]  WITH CHECK ADD  CONSTRAINT [FK_Designation_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [Ref].[Designation] CHECK CONSTRAINT [FK_Designation_CreatedBy]
GO
ALTER TABLE [Ref].[Floor]  WITH CHECK ADD  CONSTRAINT [FK_Floor_City] FOREIGN KEY([CityId])
REFERENCES [Ref].[City] ([CityId])
GO
ALTER TABLE [Ref].[Floor] CHECK CONSTRAINT [FK_Floor_City]
GO
ALTER TABLE [Ref].[Floor]  WITH CHECK ADD  CONSTRAINT [FK_Floor_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [Ref].[Floor] CHECK CONSTRAINT [FK_Floor_CreatedBy]
GO
ALTER TABLE [Ref].[ModeOfWork]  WITH CHECK ADD  CONSTRAINT [FK_ModeOfWork_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [Ref].[ModeOfWork] CHECK CONSTRAINT [FK_ModeOfWork_CreatedBy]
GO
ALTER TABLE [Ref].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seat_Column] FOREIGN KEY([ColumnId])
REFERENCES [Ref].[Column] ([ColumnId])
GO
ALTER TABLE [Ref].[Seat] CHECK CONSTRAINT [FK_Seat_Column]
GO
ALTER TABLE [Ref].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seat_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [Ref].[Seat] CHECK CONSTRAINT [FK_Seat_CreatedBy]
GO
ALTER TABLE [Ref].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seat_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [Ref].[Seat] CHECK CONSTRAINT [FK_Seat_ModifiedBy]
GO
ALTER TABLE [Ref].[WorkingDay]  WITH CHECK ADD  CONSTRAINT [FK_WorkingDay_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [Ref].[WorkingDay] CHECK CONSTRAINT [FK_WorkingDay_CreatedBy]
GO
